<div class="mid">
    <div class="slider">
      <button class="fleft left"></button>
      <div class="sliderbg fleft">
        <h4>Match 1</h4>
        <strong>Predict Winner</strong>
        <img src="assets/images/flags/uk.jpg"/>
        <h6>ENGLAND</h6>
        <h5>VS</h5>
        <img src="assets/images/flags/sa.jpg"/>
        <h6>SOUTH AFRICA</h6>
        <span class="daytime">Thu 30 May<br>15:00 (IST)</span>
      </div>
      <div class="sliderbg fleft active" (click)="predict(1)" >
        <h4>Match 1</h4>
        <strong>Predict Winner</strong>
        <img src="assets/images/flags/uk.jpg"/>
        <h6>ENGLAND</h6>
        <h5>VS</h5>
        <img src="assets/images/flags/sa.jpg"/>
        <h6>SOUTH AFRICA</h6>
        <span class="daytime">Thu 30 May<br>15:00 (IST)</span>
      </div>
      <div class="sliderbg fleft">
        <h4>Match 1</h4>
        <strong>Predict Winner</strong>
        <img src="assets/images/flags/uk.jpg"/>
        <h6>ENGLAND</h6>
        <h5>VS</h5>
        <img src="assets/images/flags/sa.jpg"/>
        <h6>SOUTH AFRICA</h6>
        <span class="daytime">Thu 30 May<br>15:00 (IST)</span>
      </div>
      <button class="fleft right"></button>
    </div>
  </div>