<div class="Wraper">
	<div class="header" *ngIf="isLoggedIn">
		<div class="logo fleft"> <img src="assets/images/logo.png"></div>
		<div class="nav fleft"> 
			<ul>
				<li><a routerLink="/predict" [ngClass]="{'active':(state=='predict')}" >PREDICT</a></li>
				<li><a routerLink="/profile" [ngClass]="{'active':(state=='profile')}" > PROFILE</a></li>
				<li><a routerLink="/results" [ngClass]="{'active':(state=='results')}" > RESULTS</a></li>
				<li><a routerLink="/leader-board" [ngClass]="{'active':(state=='leader-board')}" > LEADERBOARD</a></li>
				<li><a routerLink="/rules" [ngClass]="{'active':(state=='rules')}" > RULES</a></li>
			</ul>
		</div>
		<div class="login_header fright">
			<div class="userImg fleft">
				&nbsp;
			</div>
			<div class="logindetails fleft">
				<span class="welcome">Welcome John</span>
				<span class="rank">Rank- 18</span>
			</div>
			<button  routerLink="/login" class="fleft">&nbsp;</button>
		</div>
	</div>
	<div class="header" *ngIf="!isLoggedIn">
		<div class="logo fleft"> <img src="assets/images/logo.png"></div>
	</div>
	<router-outlet></router-outlet>
</div>	
<!-- 		

<div>
    <a class="noopener align-right" routerLink="/login">Login</a>
    <a class="noopener align-right" routerLink="/register">Register</a>
    <a class="noopener align-right" routerLink="/schedule">Schedule</a>
</div>
<a class="noopener" routerLink="/predict">Predict</a>
<a class="noopener" routerLink="/results">Results</a>
<a class="noopener" routerLink="/leader-board">Leader Board</a>
<a class="noopener" routerLink="/profile">Profile</a>
<a class="noopener" routerLink="/login">Login</a>
<a class="noopener" routerLink="/register">Register</a> -->
