<div class="mid">
    <div class="lbpanels fleft first">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">1</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft second">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">2</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft third">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">3</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">4</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">5</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">6</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">7</h6>
      <div class="clear"></div>
    </div>
    <div class="lbpanels fleft">
      <span class="fleft">
        <h5>John Doe</h5>
        <strong>12453</strong>
      </span>
      <h6 class="fright">8</h6>
      <div class="clear"></div>
    </div>
  </div>